<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <% if (typeof errors != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <h4>Gagal ditambahkan</h4>
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      <form method="post" action="/contacts/edit">
        <input
          type="hidden"
          value="<%= contact.oldName || contact.nama %>"
          name="oldName"
        />
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input
            type="text"
            class="form-control"
            id="nama"
            name="nama"
            required
            value="<%= contact.nama %>"
          />
        </div>
        <div class="mb-3">
          <label for="jurusan" class="form-label">Jurusan</label>
          <select class="form-select" id="inputGroupSelect01" name="jurusan">
            <option selected><%= contact.jurusan %></option>
            <% allJurusan.forEach(jurusan => { %>
            <option value="<%= jurusan %>"><%= jurusan %></option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="example@gmail.com"
            required
            value="<%= contact.email %>"
          />
        </div>
        <a href="/contacts/<%= contact._id %>" class="btn btn-warning badge"
          >Kembali</a
        >
        <button type="submit" class="btn btn-primary badge">Submit</button>
      </form>
    </div>
  </div>
</div>
